<nav>
  <ul>
    <li><strong>Brand</strong></li>
  </ul>
  <ul>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
    <li><a href="#">Link</a></li>
    <li><a href="#" role="button">Button</a></li>
  </ul>
</nav>
